<div class="section">
  <div class="container">
    <h3 class="title is-3">Edit Your Infomation</h3>
    <div class="level">
      <div class="level-left">
        <div class="box">
          <div class="level-item">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%#
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="container">
                <div class="field py-1">
                  <%= f.label :name %><br />
                    <div class="control has-icons-left">
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input" %>
                      <span class="icon is-small is-left">
                        <i class="far fa-user"></i>
                      </span>
                    </div>
                </div>
                <div class="field py-1">
                  <%= f.label :email %><br />
                  <div class="control has-icons-left">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                    <span class="icon is-small is-left">
                      <i class="far fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field py-1">
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <div class="control has-icons-left">
                    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>

                <div class="field py-1">
                  <%= f.label :password_confirmation %><br />
                  <div class="control has-icons-left">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>

                <div class="field py-1">
                  <%= f.label :current_password %> <i class="has-text-danger">(we need your current password to confirm your changes)</i><br />
                  <div class="control has-icons-left">
                    <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
                    <span class="icon is-small is-left is-success">
                      <%# <i class="fas fa-lock"></i> %>
                      <i class="fas fa-key ml-1"></i>
                    </span>
                  </div>
                </div>

                <div class="actions">
                  <%= f.submit "Update", class: "button is-outlined is-info" %>
                </div>
              <% end %>

              </div>
          </div>
        </div>
      </div>
    </div>
      
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div class="field py-1">
              <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-outlined is-danger" %>
            </div>
          </div>
          <div class="level-item ml-3 button is-warning">
            <span class="icon is-small">
              <i class="fas fa-arrow-alt-circle-left"></i>
            </span>
            <span>
              <%= link_to "Back", :back, class: "button is-warning" %>
            </span>
          </div>
        </div>
      </nav>


    </div>
  </div>
</div>
