<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="temporary">
        <div class="notification is-info">
          <p class="content is-medium"><%= notice %></p>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="temporary">
        <div class="notification is-danger">
          <p class="content is-medium"><%= alert %></p>
        </div>
      </div>
    <% end %>
    <nav class="navbar has-background-grey-dark">
      <div class="container">

        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
              <h3 class="title is-3 has-text-primary-light">MembersOnly!</h3>
            <% end %>
        </div>
        <div class="navbar-end">
        <div class="buttons">
          <% if user_signed_in? %>
              <div class="navbar-item">
                <%= link_to "Edit account", edit_user_registration_path, class: "button is-primary is-active" %>
              </div>
              <div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-danger is-active" %>
              </div>
            <% else %>
              <div class="navbar-item">
                <%= link_to 'Sign In', new_user_session_path, class: "button is-warning is-active" %>
              </div>
              <div class="navbar-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: "button is-success is-active" %>
              </div>
            <% end %>
        </div>
        </div>
      </div>

    </nav>

    <%= yield %>
  </body>
</html>
